@media all and (max-width: 960px) {
    .logo {
       margin-left: 20px;
    }
    #menuToggle{
        display:none;
    }
    
    #xyz {
        width: 20px;
        height: 5px;
        background-color: white;
        position: absolute;
        top: 40px;
        right: 30px;
    }
    #xyz::before {
        content: "";
        display: block;
        width: 20px;
        height: 5px;
        background-color: white;
        position: absolute;
        right: 0px;
        top:-10px;
    }
    #xyz::after {
        content: "";
        display: block;
        width: 20px;
        height: 5px;
        background-color: white;
        position: absolute;
        right: 0px;
        top:10px;
    }
    .menu {
        display: none;
    }
    #menuToggle:checked ~ .menu {
        float: right;
        display: flex;
        flex-direction:column ;
    }
    #menuToggle:checked ~ .menu > ul {
        position: fixed;
        list-style: none;
        padding: 0px;
        right: 0px;
        width: 210px;
        top: 73px;
    }
    #menuToggle:checked ~ .menu > ul > li {
        background: url("../images/fon_ad_menu.png");
        background-size:contain;
        min-height: 28px;
        border:1px inherit #a2b1ad;
        width: 210px;
    }
    #menuToggle:checked ~ .menu > ul > li > a:hover {
        background: url("../images/fon_col.png");
        background-size:contain;
        border-radius:5%;
        border:1px inherit #a2b1ad;
        box-shadow: 0px 1px 0px 0px #bfe3d9;
        width: 210px;
  }
}