@import "fonts.css";
@import "media.css";

@media all and (min-width: 960px) {}

.bg1{
	width:100%;
	height:12px;
	background-image: url("../images/bg_top.png");
}
.heard {
	width:100%;
	background-image: url("../images/bg.png");
}
.container {
	width:960px;
	margin:0px auto;
}

.header {
	width: 100%;
	min-height: 62px;
}

.logo {
	width:78px;
	float:left;
	margin-top:11px;
}

.menu {
	float:right;
	height: 55px;
}

.menu ul {
	list-style:none;
	padding-top:18px;
	margin: 0px;
}

.menu ul li{
	display:inline-block;
	min-height:27px;
}

.menu ul li a{
	font-size:18px;
	font-family: "";
	font-weight:bold;
	text-shadow: 0px 1px 0px rgb(255,255,255);
	color: #444444;
	padding:6px 10px;
	text-decoration:none;
	display: inline-block;
}

.menu ul li a:active {
	background: url("../images/fon_col.png");
	background-size:contain;
	border-radius:5%;
	border:1px inherit #a2b1ad;
	box-shadow: 0px 1px 0px 0px #bfe3d9;
}
.main {
	background-image: url("../images/fon.png");
	background-size:contain;
	min-height: 600px;
}